@import 'header';
@import 'home';
@import 'design';


* {
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  height: 100%;
  width: 100%;
  margin: 0;
  background-color: white;
}

@media only screen and (max-width: 768px){
  * {
    box-sizing: border-box;
  }
  body {
    background-color: white;
    font-family: Montserrat;
    margin: 0;
  }
}
